@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
    margin-inline: auto;
    padding-inline: 0.75rem;

    @media (min-width: 768px) {
      padding-inline: 1.25rem;
    }

    @media (min-width: 1024px) {
      padding-inline: 1.5rem;
    }
}

@theme {
    --color-cream: #f8f6f2;
}

:root {
  --background: #ffffff;
  --foreground: #404040;
  --input-bg: 0 0% 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-mulish);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-playfairDisplay);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes scaleIn {
  from { opacity: 0; transform: scale(0.96) }
  to { opacity: 1; transform: scale(1) }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.checkout-step {
  counter-increment: order;
}

input:autofill, input:autofill:active, input:autofill:focus, input:autofill:hover, textarea:autofill, textarea:autofill:active, textarea:autofill:focus, textarea:autofill:hover {
  -webkit-box-shadow: none;
  -webkit-transition: background-color 9999s ease-in-out 9999s;
  transition: background-color 9999s ease-in-out 9999s;
}

.leaflet-container {
  width: 100%;
  height: 400px; /* wysokość mapy w modalu */
}
